.card{
	border: 3px solid #716cc2;
	color: azure;
	height: 315px; 
	width: 220px; 
	display: inline-block;
	margin-top: 200px;
	margin-left: 30px;
}
.cardName{
	height: 70px; 
	display: flex;
	justify-content: center;
	align-items: center;
}
.price{
	font-weight: bolder;
}
.card-price{
	height: 90px; 
	display: flex;
	justify-content: center;
	align-items: center;
}
.card-speed{
	height: 90px; 
	display: flex;
	justify-content: center;
	align-items: center;
}
.card-condition{
	height: 65px;
	display: flex;
	justify-content: center;
}
.selected{ 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	border: 3px solid #080202;
	font-weight: bolder;
}